src/main/resources/xsdFile/student.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="student">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="stdId" type="xs:int"/>
                <xs:element name="stdName" type="xs:string"/>
                <xs:element name="stdAddr" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>